<% include /partials/Header %>

</head>

<body>
      <div id="particles-js"></div> <!-- stats - count particles -->
      <% include /partials/navbar %>
      <div class="center top-padding">

            <div class="card main-center-long top-padding">
                  <div class="center row s12">
                        <b>Pass Phrase</b><br>
                  <div id="PassPhrase">
                        <p id="PassPhraseVal"></p>
                  </div><br>
                  <p hidden id="pubkey"></p>
                  <a class="btn-small " onclick="storePKey();">Submit</a>
                  <!--href="/Institute/Dashboard"-->
                  &nbsp; <a href="/Institute/landing2" class="btn-small "><i class="material-icons">replay</a>

                  </div>

            </div>
   
      </div>


</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- <script type="text/javascript" src="../libs/web3.js"></script> -->
<script charset="utf-8" src="https://cdn.ethers.io/scripts/ethers-v4.min.js" type="text/javascript">
</script>
<script>
      $(document).ready(function () {
            var mnemonic = ethers.utils.HDNode.entropyToMnemonic(ethers.utils.randomBytes(16));

            $('#PassPhraseVal').text(mnemonic)
            var wallet = ethers.Wallet.fromMnemonic(mnemonic)
            //console.log(wallet.address)
            //console.log(wallet.privateKey)   
            $('#pubkey').text(wallet.address)

            // console.log();
      });
</script>

</html>

<script>
      function storePKey() {


            var title = $('#pubkey').text();
            
            $.ajax({
                  url: '/UpdateInstitutePublicKey/' + title,
                  type: 'PATCH',
                  success: function (result) {
                        if (result == "OK") {
                              window.location = "/Institute/Dashboard"

                        } else {
                              alert("something went wrong");

                        }
                  }
            });
      }
</script>